<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Transaction Detail</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Transaction Detail</h1>
    <div class="form-group">
        <label for="inventory">Inventory Name</label>
        <input type="text" class="form-control" id="inventory" placeholder="Inventory Name" th:value="${txn.inventory.name}" readonly>
    </div>
    <div class="form-group">
        <label for="customer">Customer Name</label>
        <input type="text" class="form-control" id="customer" placeholder="Customer Name" th:value="${txn.customer.name}" readonly>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" id="quantity" placeholder="Quantity" th:value="${txn.quantity}" readonly>
    </div>
    <div class="form-group">
        <label for="createdAt">Ordered Time</label>
        <input type="datetime-local" class="form-control" id="createdAt" placeholder="createdAt" th:value="${#strings.arraySplit(#temporals.formatISO(txn.createdAt), '.')[0]}" readonly>
    </div>
    <div class="form-group">
        <label for="status">Description</label>
        <input type="text" class="form-control" id="status" placeholder="Status" th:value="${txn.status}" readonly>
    </div>
    <br>
    <form th:action="@{/transactions/edit/{id}(id=${txn.id})}" th:method="get">
        <button type="submit" class="btn btn-primary btn-sm">Edit</button>
    </form>
</div>
</body>
</html>