<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>Create New Transaction</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Create New Transaction</h1>
    <form action="#" th:action="@{/transactions}" th:object="${txn}" method="post">
        <div class="form-group">
            <label for="inventory">Item Name</label>
            <select class="form-control" name="inventory" id="inventory">
                <option th:each="inv : ${inventory}" th:value="${inv.id}"
                        th:text="${inv.name + ' - ' + inv.quantity + ' left'}"></option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="customer">Customer</label>
            <select class="form-control" name="customer" id="customer">
                <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input class="form-control" type="input" name="quantity" id="quantity" placeholder="Quantity"
                   autofocus="autofocus"/>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn btn-warning" role="button" href="/transactions">Cancel</a>
    </form>
</div>

</body>
</html>