<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Customers - Shop Lite</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Customer List</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <td><a th:href="@{/customers/{id}(id=${customer.id})}" th:text="${customer.name}"></a></td>
            <td th:text="${customer.address}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <button class="btn btn-primary" role="button" onclick="window.location.href='/customers/new'">NEW</button>
</div>
</body>
</html>