<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Inventory Detail</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Inventory Detail</h1>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" th:value="${inventory.name}" readonly>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" id="quantity" placeholder="Quantity" th:value="${inventory.quantity}" readonly>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description" placeholder="Description"
                  autofocus="autofocus" rows="6" cols="50" th:text="${inventory.description}" readonly></textarea>
    </div>
    <br>
    <form th:action="@{/inventory/edit/{id}(id=${inventory.id})}" th:method="get">
        <button type="submit" class="btn btn-primary btn-sm">Edit</button>
    </form>
    <br>
    <form th:action="${(#mvc.url('IC#deleteInventory').arg(0, inventory.id)).build()}" th:method="delete">
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </form>
</div>
</body>
</html>