<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Inventory Edit</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Inventory Edit</h1>
    <form th:action="@{/inventory/edit/{id}(id=${inventory.id})}" th:object="${inventory}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name" th:value="${inventory.name}">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" name="quantity" id="quantity" placeholder="Quantity" th:value="${inventory.quantity}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" placeholder="Description"
                      autofocus="autofocus" rows="6" cols="50" th:text="${inventory.description}"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-sm">Update</button>
    </form>
</div>
</body>
</html>