<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Inventory - Shop Lite</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Inventory Sheet</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="inv : ${inventory}">
            <td><a th:href="@{/inventory/{id}(id=${inv.id})}" th:text="${inv.name}"></a></td>
            <td th:text="${inv.quantity}"></td>
            <td th:text="${inv.description}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <button class="btn btn-primary" role="button" onclick="window.location.href='/inventory/new'">NEW</button>
</div>
</body>
</html>